.container{
    display:flex;
}
#main.card{
    flex:1;
}
.card{
    margin:20px;
    padding:10px;
    border:1px black solid;
}
 
#banner {
    background-image: url(ITALY.png);
    background-position: center center;
    background-size: cover;
    height: 180px;
}
nav a{
    flex:1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
nav a{
    background-color: crimson;
}
#text div{
    font-size: 30px;
}
.card {
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    background-color: aliceblue;
    filter: grayscale(75%);
}
.card:hover{
    box-shadow: 0 8px 16px 0 black;
    filter: grayscale(0%);
}
nav a:hover{
    background-color: burlywood;
    color: antiquewhite;
    box-shadow: 0 4px 0;
    transition: 0.5s;
}